# Author: Dave Inchy <github.com/daveinchy>

# NPM
!package-lock.json
!package.json
/node_modules
/node_modules/**/*

# FOLDERS & FILES
!/api
!/api/**/*
!/app
!/app/**/*
/build
/build/**/*

!/packages
#remove the line below so you upload app-release's .opk files to git too
/packages/**/*

!/docs
!/docs/**/*

# ENV & LOCAL STORE FILES
.env
*.env
.env.local
*.env.local
.local
*.local
.local.env
*.local.env
.DS_Store
*.DS_Store
**/*.db

# CACHE & LOGS
.eslintcache
.log